

.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.landing--img {
  --img-size: 300px;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  width: var(--img-size);
  object-fit: cover;
  border-radius: 20%;
  box-shadow: 0px 0px 30px rgb(17, 16, 16);
  transition: opacity 0.3s;
}

.landing--container-left {
  flex: 48%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.lcl--content {
  margin: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.landing--social {
  font-size: 35px;
  margin: 0 1rem;
  transition: transform 0.5s;
}

.landing--social:hover {
  transform: scale(1.2);
}

.landing--container-right {
  flex: 50%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.lcr--content {
  width: 57%;
  margin-right: 7rem;
  font-family: var(--primaryFont);
  font-style: normal;
}

.lcr--content h6 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: -0.85rem;
  color: white;
}

.lcr--content h1 {
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 110%;
  margin: 1rem 0;
  color: white;
}

.lcr--content p {
  margin-top: 1.45rem;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}


.lcr-buttonContainer {
  margin-top: 2rem;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "var(--primaryFont)", sans-serif;
}

@media (max-width: 1100px) {
  .landing--img {
    --img-size: 285px;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    width: var(--img-size);
    object-fit: cover;
    border-radius: 30%;
    box-shadow: 0px 0px 30px rgb(17, 16, 16);
    transition: opacity 0.3s;
  }
  .lcl--content {
    margin: 2rem;
  }

  .lcr--content h6 {
    font-size: 1.1rem;
  }

  .lcr--content h1 {
    font-size: 3rem;
  }

  .lcr--content p {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
}

@media (max-width: 900px) {
  .landing--img {
    --img-size: 280px;
  }
  .lcl--content {
    padding-bottom: 1.5rem;
    margin: 1rem;
  }

  .landing--social {
    font-size: 30px;
  }
  .lcr--content {
    width: 60%;
    margin-top: 10%;
    margin-right: 23%;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
  .lcr-buttonContainer button:nth-child(2) {
    display: none;
  }
}
@media (max-width: 800px) {
  .lcl--content {
    margin: 1rem;
    padding-bottom: 2rem;
  }
  .landing--img {
    --img-size: 265px;
  }
}
@media (max-width: 720px) {
  .landing--container {
    margin-top: 4%;
  }
}
@media (max-width: 700px) {
  .landing--img {
    --img-size: 250px;
  }
  .lcr--content {
    width: 65%;
    margin-top: 30%;
    margin-right: 15%;
  }
  .lcr--content h6 {
    font-size: 1rem;
  }
  .lcr--content h1 {
    font-size: 2.2rem;
  }
  .lcr--content p {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 0.90rem;
  }
  .lcr-buttonContainer {
    margin-top: 2rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
}
@media (max-width: 620px) {
  .landing--img {
    --img-size: 220px;
  }
  .lcr--content {
    width: 65%;
    margin-top: 30%;
    margin-right: 15%;
  }
  .lcr--content h6 {
    font-size: 0.90rem;
  }
  .lcr--content h1 {
    font-size: 2rem;
  }
  .lcr--content p {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 0.80rem;
  }
  .lcr-buttonContainer {
    margin-top: 2rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
  
}
@media (max-width: 600px) {
  .landing--container {
    flex-direction: column;
    justify-content: space-between;
  }
  .landing {
    height: 157vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing--img {
    --img-size: 200px;
    left: 50%;
    top: 30%;
    border: 3px solid #eaeaea;
    transform: translate(-50%, -50%);
  }
  .landing--container-left {
    flex: initial;
    width: 100%;
    height: 30%;
  }
  .landing--social {
    display: none;
  }
  .landing--container-right {
    box-sizing: border-box;
    padding: 0 2rem;
    flex: initial;
    height: 70%;
    width: 100%;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
  .lcr--content {
    width: 60%;
    margin-top: 30%;
    margin-right: 19%;
  }
  
  .lcr--content h6 {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 4%;
    margin-right: -6rem;
  }
  .lcr--content h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 3%;
    margin-right: -5rem;
  }
  .lcr--content p {
    font-size: 0.95rem;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-left: 3rem;
  }
  .lcr-buttonContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
  }
  .lcr-buttonContainer button {
    margin-top: -20%;
  }
}

  

@media (max-width: 500px) {
  .landing {
    height: 155vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lcr--content p {
    font-size: 0.88rem;
    text-align: center;
    margin: 0 auto;
    width: 112%;
    margin-left: 2rem;
  }
  .lcr-buttonContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
  }

  .lcr--content {
    margin-top: 35%;
  }
}
@media (max-width: 370px) {
  .lcr--content {
    margin-top: 60%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .landing {
    height: 100%;
  }

  .landing--img {
    --img-size: 150px;
    left: 50%;
    top: 20%;
  }
}
